/* переменные*/
:root {
--primary-text-color:#212121;
--title-text-color:#757575;
--accent-color:#2196F3;
--contact-footer-text-color: rgba(112, 38, 38, 0.6);
--secondary-color: #FFFFFF;
}

html{
box-sizing: border-box;
}
/* *,
*::before,
*::after {
box-sizing: inherit;
} */


body{
    color: var(--primary-text-color);
    font-family: Roboto,sans-serif;
  
}


/* Лого */
.logo{
   display: block;
    color: var(--primary-text-color);
    font-family: Raleway,sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    text-decoration: none;
}
.color {
    color: var(--accent-color);
}


/* Site-nav */

.site-nav{
    list-style: none;
    display: flex;
    margin-left: 93px;
   
}
.site-nav .link{
    padding-top: 32px;
    padding-bottom: 32px;
   display: block;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-decoration: none;
    
}

.site-nav .item + .item {
    margin-left: 50px;
}

/* site-nav hover */
.site-nav .link:hover, 
.site-nav .link:focus{
    color:#2196F3;
}


/*основной цвет contact*/
.contact-items .item {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    
    
}
.contact-items{
    display: flex;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    
}
.contact-items .item + .item{
    margin-left: 50px;
}


.contact-items .item:hover,
.contact-items .item:focus{
  color: #2196F3;
}

/* Общий дисплей флекс*/
.main-nav{
display: flex;
align-items: center;



}

/* Нero*/
.hеro-title {
    color: var(--secondary-color);
    background-color: var(--primary-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-transform:uppercase;
    margin-top: 0;
    margin-bottom: 30px;
    
}

/*Hero потом убрать outline*/
.hero{
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    outline: 2px solid tomato;
  
}

    






/* footer aside*/
.aside .item {
    color: var(--title-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    text-decoration: none;
}
.aside{
    list-style: none;
    margin-top: 0;
}

.aside .item:hover,
.aside .item:focus {
  color: #2196F3;
}
.colortext{
    background-color: var(--primary-text-color);
    color: var(--secondary-color);

}


/*feature-list*/
.feature-list .title{
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em; 
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
    margin-right: 30px;
   
}


.feature-list{
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
   
 
}
.feature-list .item{
    width: 270px;
   
   
  
   
}


.feature-list .text {
   color:  var(--title-text-color);
   font-weight: 400;
   font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;
   margin-top: 0;
   margin-bottom: 0;

}

/* Заголовки Feature и About us */
.heading {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
   text-align: center;
}

.our-team .caption {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;  
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.our-team .text {
    color: var(--title-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;  
    text-align: center;
    margin-bottom: 0;
  
}
.our-team{
    list-style: none;
    display: flex;
    padding-top: 0;
 

}
.team{
    padding-top: 94px;
    padding-bottom: 94px;
}

.us{
    list-style: none;
    margin-bottom: 0;
    display: flex;
    width: 370px;
}

.us .item + .item{
    margin-left: 30px;
}

/* box-project padding*/
.box-project{
    padding-top: 94px;
    padding-bottom: 94px;

}

/*project portfolio*/
.project .title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 0;
    margin-bottom: 4px;
}
.project{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}

.project .text {
    color: var(--title-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;

}



.block ul li {
    list-style: none;
  
}
.block{
    background-color: #ccc;
  
}

/* Кнопка cтраницы WEB*/
.btn{
   
    display: inline-block;
    padding: 10px 32px;
    min-width: 200px;
    text-align: center;
    background-color: #2196F3;
    color: var(--secondary-color);

    text-decoration: none;
    border-radius: 4px;
    

    font-weight: 700;
    font-size: 16px;
    line-height: 1.89;
    letter-spacing: 0.06em;  
  
}

.btn:hover,
.btn:focus{
background-color: black;
color: white;
}



/* Кнопки портфолио*/
.button{
    display: inline-block;
    background-color: #F5F4FA;
    color: var(--primary-text-color);
    padding: 6px 22px;
    margin-bottom: 10px;
    border-radius: 4px;
    outline: 1px solid var(--accent-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    text-decoration: none;
    
}
.button:hover, 
.button:focus{
    background-color: var(--accent-color);
    color: var(--secondary-color);
}


/* Project Портфолио*/

.control{
    list-style: none;
    margin-top: 0;
    margin-bottom: 50px;
    display: flex;
    text-align:center;
    justify-content: center;
  
}
.control .item + .item{
    margin-left: 8px;
}

/* card-set */
.card-set{
    outline: 1px solid tomato;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
   
}
.cars-set > .item {
    outline: 1px solid teal;
    flex-basis: calc(100% / 3 -30px);
    margin-top: 30px;
    margin-left: 30px;
}

/*контейнер общий*/
.container{
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid tomato;
    margin-left: auto;
    margin-right: auto;
    background-color: #ccc;
    
   
}
